//----------------------------------------------------------------------------------------------------------------------
//                                       ___   _____            ___      _
//                                      / _ \ |_  (_)___ _ _   | _ \_  _| |______
//                                     | (_) | / /| / _ \ ' \  |  _/ || | (_-< -_)
//                                     \__\_\/___|_\___/_||_| |_|  \_,_|_/__|___|
//                                                   [QZion Pulse]
//                                                   -Version 0.1-
//----------------------------------------------------------------------------------------------------------------------
//    These mixins are used to help you better interact with the border variables. You should use these as much as
//    possible to allow for uniformity throughout the project.
//----------------------------------------------------------------------------------------------------------------------
//                                                 Border Radius (all)
//----------------------------------------------------------------------------------------------------------------------
@mixin border-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-radius: $radius;
  }
}

//----------------------------------------------------------------------------------------------------------------------
//                                                 Border Radius (top)
//----------------------------------------------------------------------------------------------------------------------
@mixin border-top-radius($radius) {
  @if $enable-rounded {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }
}

//----------------------------------------------------------------------------------------------------------------------
//                                                 Border Radius (right)
//----------------------------------------------------------------------------------------------------------------------
@mixin border-right-radius($radius) {
  @if $enable-rounded {
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
  }
}

//----------------------------------------------------------------------------------------------------------------------
//                                                 Border Radius (bottom)
//----------------------------------------------------------------------------------------------------------------------
@mixin border-bottom-radius($radius) {
  @if $enable-rounded {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}

//----------------------------------------------------------------------------------------------------------------------
//                                                 Border Radius (left)
//----------------------------------------------------------------------------------------------------------------------
@mixin border-left-radius($radius) {
  @if $enable-rounded {
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
  }
}
