//----------------------------------------------------------------------------------------------------------------------
//                                       ___   _____            ___      _
//                                      / _ \ |_  (_)___ _ _   | _ \_  _| |______
//                                     | (_) | / /| / _ \ ' \  |  _/ || | (_-< -_)
//                                     \__\_\/___|_\___/_||_| |_|  \_,_|_/__|___|
//                                                   [QZion Pulse]
//                                                   -Version 0.1-
//----------------------------------------------------------------------------------------------------------------------
//    QZion Pulse is a CSS framework that is used in most of the projects by QZion it utilizes Vue.js as well as the
//    display element flexbox. the hope is that this will grow and have all the same components that main stream CSS
//    frameworks have if you are interested in being a part of this project feel free to drop a line to info@QZion.net
//    I would be glad to talk about things we can do.
//----------------------------------------------------------------------------------------------------------------------
//                                                       
//----------------------------------------------------------------------------------------------------------------------
@mixin card-variant($background, $border: $background) {
  background-color: $background;
  border-color: $border;

  .card__header,
  .card__footer {
    background-color: transparent;
  }
}

@mixin card-outline-variant($color) {
  background-color: transparent;
  border-color: $color;
}

@mixin card-inverse {
  .card__header,
  .card__footer {
    border-color: rgba(255, 255, 255, .2);
  }

  .card__header,
  .card__footer,
  .card__title,
  .card__blockquote {
    color: $white;
  }

  .card__link,
  .card__text,
  .card__subtitle,
  .card__blockquote .blockquote__footer {
    color: rgba(255, 255, 255, .65);
  }

  .card__link {
    @include hover-focus {
      color: $card-link-hover-color;
    }
  }
}
