//----------------------------------------------------------------------------------------------------------------------
//                                       ___   _____            ___      _
//                                      / _ \ |_  (_)___ _ _   | _ \_  _| |______
//                                     | (_) | / /| / _ \ ' \  |  _/ || | (_-< -_)
//                                     \__\_\/___|_\___/_||_| |_|  \_,_|_/__|___|
//                                                   [QZion Pulse]
//                                                   -Version 0.1-
//----------------------------------------------------------------------------------------------------------------------
//    This is the styling for the alert-container component, this will allow you to set your absolute paths or just
//    a regular box.
//----------------------------------------------------------------------------------------------------------------------
.alert-container {
  @include modifier('top-right') {
    position: fixed;
    right: $spacer-x;
    top: $spacer-y;
    z-index: 1000000;
  }

  @include modifier('top-left') {
    left: $spacer-y;
    margin-top: $spacer-y;
    position: fixed;
    top: $spacer-x;
    z-index: 1000000;
  }
}