//----------------------------------------------------------------------------------------------------------------------
//                                       ___   _____            ___      _
//                                      / _ \ |_  (_)___ _ _   | _ \_  _| |______
//                                     | (_) | / /| / _ \ ' \  |  _/ || | (_-< -_)
//                                     \__\_\/___|_\___/_||_| |_|  \_,_|_/__|___|
//                                                   [QZion Pulse]
//                                                   -Version 0.1-
//----------------------------------------------------------------------------------------------------------------------
//    QZion Pulse is a CSS framework that is used in most of the projects by QZion it utilizes Vue.js as well as the
//    display element flexbox. the hope is that this will grow and have all the same components that main stream CSS
//    frameworks have if you are interested in being a part of this project feel free to drop a line to info@QZion.net
//    I would be glad to talk about things we can do.
//----------------------------------------------------------------------------------------------------------------------
//                                                       Options
//                            Allows You to quickly edit simple functions of QZion Pulse
//----------------------------------------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Open+Sans+Condensed:300,700');
@import 'node_modules/font-awesome/scss/font-awesome';
$enable-flex:               true !default;
$enable-rounded:            true !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        false !default;
$enable-hover-media-query:  false !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;


//----------------------------------------------------------------------------------------------------------------------
//                                            Core Variables And Mixins
//----------------------------------------------------------------------------------------------------------------------

@import 'variables';
@import 'mixins';
@import 'custom';


//----------------------------------------------------------------------------------------------------------------------
//                                            Reset and Dependencies
//----------------------------------------------------------------------------------------------------------------------
@import 'resets/normalize';
@import 'resets/print';
@import 'resets/reboot';
@import 'demo';

//----------------------------------------------------------------------------------------------------------------------
//                                                  Core CSS
//----------------------------------------------------------------------------------------------------------------------
@import 'core/type';
@import 'core/grid';

//----------------------------------------------------------------------------------------------------------------------
//                                                  Component CSS
//----------------------------------------------------------------------------------------------------------------------
@import 'components/alert';
@import 'components/alert-container';
@import 'components/images';
@import 'components/code';
@import 'components/tables';
@import 'components/forms';
@import 'components/buttons';
@import 'components/close';
@import 'components/dropdown';
@import 'components/nav';
@import 'components/navbar';

//----------------------------------------------------------------------------------------------------------------------
//                                            Vue.js Specific components
//----------------------------------------------------------------------------------------------------------------------
@import 'transitions/transitions';

